{% extends 'base.html.twig' %}

{% block title %}ticketing App{% endblock %}
{% block mon %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="{{path('home')}}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('home')}}" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Acceuil
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('history')}}" class="nav-link">
                <i class="nav-icon fas fa-history"></i>
                <p>
                historique
                <span class="right badge badge-danger">New</span>
                </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('modify_information')}}" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                vos information
              </p>
            </a>
          </li>
          <li class="nav-item fixed-bottom">
            <a href="{{path('app_logout')}}"  class="nav-link display-bottom">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                deconnexion
              </p>
            </a>
          </li>
        </ul>
    </nav>
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <div class="container">
          <div class="col-md-6 mr-auto ml-auto">
              <center><h1><strong>Ouvrir un ticket</strong></h1></center>
              <div class="bg-white py-4 px-4">

                  {{ form_start(form) }}
                          
                  {{form_row(form.object)}}
                  {{form_row(form.subject)}}
                  <center><button type="submit" class="btn btn-primary">Envoyer</button> <a class="btn btn-default " href="{{path('home')}}" role="button">Annuler</a></center>
                  {{ form_end(form) }}
              </div>
          </div>
        </div>
    </div>
{% endblock %}
